# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea/

*~

mservice.sublime*

cmd/acctclient/acctclient
cmd/acctclient/*.config
cmd/acctserver/acctserver
cmd/acctserver/acctserver_arm
cmd/acctserver/conf.yaml
cmd/acctserver/log.txt
cmd/acctservermux/acctservermux
cmd/acctservermux/log.txt
cmd/acctservermux/conf.yaml
cmd/acctclientrest/acctclientrest
cmd/acctclientrest/conf.yaml
cmd/acctclientrest/*.config


